* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.images-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 12px 10px 12px 12px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
}

.btn.prev {
  left: 0%;
  padding: 12px 12px 12px 10px;
}

.btn img {
  width: 25px;
}

.btn.prev img {
  transform: rotate(180deg);
}

.btn.next {
  right: 0%;
}

@media screen and (max-width: 1400px) {
  .images-wrapper {
    height: 100%;
  }
}
